<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="dev.css">
        <title><%= entry %></title>
        <link rel="stylesheet" href="<%= entry %>.css" />
    </head>
    <body>
        <h1><%= entry %></h1>
        <script src="<%= entry %>.js"></script>
    </body>
</html>
