<!DOCTYPE html>
<html>
    <head>
        <title>Visualizations</title>
    </head>
    <body>
        <ul>
            <% for (const entry of entries) { %>
                <li><a href="<%= entry %>.html"><%= entry %></a></li>
            <% } %>
        </ul>
    </body>
</html>
